.seccion {
    margin: 0px 1px 0px 1px;
    padding: 10px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 15px;

  }
  .seccion:hover{
    background-color: rgba(255,255,255,0.5);
  }